*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Segoe UI;
  font-size: 16px;
}

body{
  background-color: rgb(244, 250, 255)
}

.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

img{
  margin-bottom: 20px;
  height: 100px;
  margin-top: 20px;
}

h1{
  font-family:'Gill Sans MT';
  color: rgb(80, 80, 80);
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 3px 3px #dddddd;
}

h2{
  font-family:'Segoe UI';
  font-style: italic;
  color: rgb(90, 54, 153);
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}  

.work{
  font-family:'Segoe UI';
  font-style: italic;
  color: rgb(90, 54, 153);
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
  text-decoration: none;
  font-weight: 600;
  animation: animate 2s linear infinite;
}

.fetch{
  font-weight: 500;
  font-size: 17px;
  font-style: italic;
  animation: animate 2s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  max-width: 480px;
  margin-bottom: 15px;
  transition: 0.4s;
}

.search-box input{
  display: block;
  font-size: 15px;
  appearance: none;
  border: none;
  outline: none;
  padding: 15px;
  width: 100%;
  transition: 0.5s;
}

.search-box:focus-within{
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
  transform: translate(5px)
}

.count{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}

.results{
  max-width: 768px;
  margin: 0 auto;
}

.result{
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: 0.4s;
}

.result:hover{
  box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

.result h3{
  color: rgb(59, 0, 161);
  font-size: 24px;
  margin-bottom: 15px;
}

.result p{
  color: rgb(81, 81, 81);
  font-size: 17px;
  margin-bottom: 15px;
}

.result p .searchmatch{
  color: rgb(59, 0, 161);
  font-weight: 700;
}

.result a{
  display: inline-block;
  padding: 12px 16px; 
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  text-decoration: none;
  border-radius: 15px;
  transition: 0.4s;
  
}

.result a:hover{
  cursor: pointer;
  background-color: aliceblue;
  color: rgb(0, 0, 0);}
